In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [4]:
data=pd.read_csv("mail_data.csv")
data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
#handling missing values

In [6]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
data.dropna(how="all")    #replacing the nullvalues with null string

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [8]:
#checking the number of rows and columns in tha dataframe(size of dataframe)
data.shape

(5572, 2)

In [9]:
#changing the labels with numerical values(label encoding)
#spam=1,ham=0
data.loc[data['Category']=='spam','Category',]=0
data.loc[data['Category']=='ham','Category',]=1

In [10]:
#seperating the data as text and labex
x=data['Message']
y=data['Category']

In [11]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [ ]:
y

In [ ]:
from sklearn.model_selection import train_test_split
#dividing into training and testing data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3) #0.2=20 percentage of data

In [ ]:
print(x_train.shape)
print(x_train)

In [ ]:
print(x_test.shape)
print(x_test)

In [ ]:
#feature extraction( Feature extraction refers to the process of transforming raw data into numerical features that can be processed while preserving the information in the original data set.)
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
#TTFIDF works by proportionally increasing the number of times a word appears in the document but is counterbalanced by the number of documents in which it is present.

In [ ]:
#transform the test data to feature vectors that can be used for the logistic regression
x_train_features=feature_extraction.fit_transform(x_train) #it will first vectorize the data and transform it into only train features into numerical data as y_train and y_test are already numerical datas
x_test_features=feature_extraction.transform(x_test)

In [ ]:
#convert y_train and y_test as integers as the datatype is  object it sometimes consider it as string

y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [ ]:
#checking the dtype as it is changed from object to integer
y_train.dtype
y_test.dtype

In [ ]:
print(x_train_features)

In [ ]:
#training the model

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model=LogisticRegression()

In [ ]:
# training the data with logisticregression
model.fit(x_train_features,y_train)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
#predicting the training data
y_pred_training_data=model.predict(x_train_features)
y_pred_testing_data=model.predict(x_test_features)

In [ ]:
accuracy_score_training_data=accuracy_score(y_train,y_pred_training_data)

In [ ]:
print('Accuracy score on training data is:',accuracy_score_training_data)

In [ ]:
y_pred_testing_data=model.predict(x_test_features)

In [ ]:
accuracy_score_testing_data=accuracy_score(y_test,y_pred_testing_data)

In [ ]:
print('Accuracy score on testing data is:',accuracy_score_testing_data)

In [ ]:
#building a predictive system

In [ ]:
input_mail=["Ok lar... Joking wif u oni..."]

In [ ]:
#convering into feature vectors
input_mail_features=feature_extraction.transform(input_mail)

In [ ]:
pred=model.predict(input_mail_features)
print(pred)

if pred[0]==1:
   print("ham mail")
else:
   print("spam mail")

In [ ]:
input_mail_2=["Yeah do! Don‘t stand to close tho- you‘ll catch something!"]

In [ ]:
input_mail_features_2=feature_extraction.transform(input_mail_2)

In [ ]:
pred2=model.predict(input_mail_features_2)
print(pred2)

if pred[0]==1:
   print("ham mail")
else:
   print("spam mail")

In [ ]:
! pip install streamlit

In [ ]:
import joblib
joblib.dump(pred, 'spam analyzer')
final_model = joblib.load('spam analyzer')

In [ ]:
%%writefile demo.py   
import streamlit as st
import joblib

st.title("SPAM MAIL CLASSIFICATION")

mail_class= st.text_input('enter a text', 'Yeah do! Don‘t stand to close tho- you‘ll catch something!')

pn = ['HAM','SPAM']
final_model = joblib.load(spam analyzer')
final_model.predict([mail_class])

st.title(f"this is a {pn[final_model.predict([r])[0]]} mail")

In [ ]:
! streamlit run demo.py & npx localtunnel --port 8501